<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<!-- footer -->
	<!-- site info -->
	<div class="mb-5 container-fluid fixed-bottom">
		<hr>
		<p>
			ⓒ CloudStudying | <a href="#">Privacy</a> | <a href="#">Terms</a>
		</p>
	</div>
</body>
</html>